.navbar {
    text-align: center;
  }
  
  .navbar-brand {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 1rem;
  }
  
  .navbar-nav {
    flex-direction: column;
  }
  
  .nav-item {
    margin-bottom: 0.5rem;
  }
  